<div class="container-fluid">
    <h3 class="text-center">LỚP HỌC PHẦN</h3>
    <div class="row">
        
    </div>
    <table class="table table-striped table-bordered table-condensed mt-5" id="myTable">
        <thead>
            <tr align="center">
                <th>STT</th>
                <th>Mã Lớp Học Phần</th>
                <th>Tên Lớp Học Phần</th>
                <th>Môn Học</th>
            </tr>
        </thead>
        <tbody>
            <% lop_hp.forEach(function(lop,index) { %>
            <tr align="center">
                <td><%- index+1 %></td>
                <td><%= lop.ma_lop_hp %></td>
                <td><a href="/home/point/<%= lop.ma_lop_hp %>"><%- lop.ten_lop_hp %></a></td>
                <td><%= lop.ten_mon_hoc %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>