<script>
    $(document).ready(function () {
        $("#my-select").change(function(){
            var vai_tro = $(this).val().toLowerCase();
            $("#myTable tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(vai_tro) > -1)
            });
        })
        $("#myInput").on("keyup", function () {
            var search = $(this).val().toLowerCase();
            $("#myTable tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(search) > -1)
            });
        })
    });
</script>

<div class="container-fluid">
    <h3 class="text-center">DANH SÁCH TÀI KHOẢN</h3>
    <div class="row form-group mb-4">
        <div class="col-2">
            <select id="my-select" class="form-control">
               <option value="Giáo Viên">Giáo Viên</option>
               <option value="Sinh Viên">Sinh Viên</option>
            </select>
        </div>
        <div class="col-5 row">
            <label for="myInput" class="col-3 col-form-label">Tìm Kiếm</label>
            <div class="col-8">
                <input type="text" class="form-control" id="myInput">
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-condensed mt-5" id="myTable">
        <thead>
            <tr align="center">
                <th>STT</th>
                <th>Tên Tài Khoản</th>
                <th>Password</th>
                <th>Vai Trò</th>
            </tr>
        </thead>
        <tbody>
            <% accounts.forEach(function(account,index) { %>
            <tr align="center" id="<%- account.id %>">
                <td><%- index+1 %> </td>
                <td><%- account.ten_tai_khoan %> </td>
                <td><%- account.mat_khau %> </td>
                <td>
                <% if (account.vai_tro == 1) { %>
                    <%= "Sinh viên" %>
                <% } else { %>
                    <%= "Giáo viên" %>
                <% } %>
                 </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>