<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var search = $(this).val().toLowerCase();
            $("#myTable tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(search) > -1)
            });
        })
        $("button[name='delete']").click(function () {
            var id = $(this).val();
            $.get(url + "home/delete/mon_hoc/" + id, function (data) {
                console.log(data)
                if (data == true) {
                    $("#myTable #" + id).fadeTo(500, 0, function () {
                        $(this).remove();
                    });
                }
            });
        });

        $("#addlh").click(() => {
            $.get(url + "home/mon_hoc/", function (data) {
                var s = "";
                data.forEach((subject) => {
                    s = s + "<option value='"+subject.id+"'>"+subject.ten_mon_hoc+"</option>";
                });
                $('#mon_hoc').html(s);
            });
        });

        // setInterval(function () {
        //     console.log("Anh Khoa \n");
        // }, 3000);
    });
</script>

<div class="container-fluid">
    <h3 class="text-center">DANH SÁCH Lịch Học</h3>
    <div class="row">
        <div class="col-6 row">
            <label for="myInput" class="col-sm-2 col-form-label">Tìm Kiếm</label>
            <div class="col-10">
                <input type="text" class="form-control" id="myInput">
            </div>
        </div>
        <div class="col-6 text-right">
            <a href="#" id="addlh" class="rounded rounded-circle btn btn-success text-light pl-lg-2 pr-lg-2 pt-1 pb-1"
                data-toggle="modal" data-target="#add"><i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <table class="table table-striped table-bordered table-condensed mt-5" id="myTable">
        <thead>
            <tr align="center">
                <th>STT</th>
                <th>Mã Lịch Học</th>
                <th>Tên Lớp Học Phần</th>
                <th>Tiết</th>
                <th>Thời Gian</th>
                <th>Phòng</th>
                <th>Giáo Viên</th>
                <th>Chức Năng</th>
            </tr>
        </thead>
        <tbody>
            <% calenders.forEach(function(calender,index) { %>
            <tr align="center" id="<%- calender.id %>">
                <td><%- index+1 %></td>
                <td><%= calender.ma_lich %></td>
                <td><%- calender.ten_lop_hp %></td>
                <td><%- calender.tiet_hoc %></td>
                <td><%- calender.ten_lop_hp %></td>
                <td><%- calender.phong %></td>
                <td><%- calender.ten %></td>
                <td>
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal<%- calender.ma_lich %>"
                        class="btn btn-warning text-light">
                        Sửa
                    </a>

                    <a class="btn btn-danger text-light" data-toggle="modal"
                        data-target="#Modal<%- calender.ma_lich %>">Xóa</a>
                </td>
            </tr>
            <div class="modal fade" id="Modal<%- calender.ma_lich %>" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xóa Môn Học</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Xóa Lịch Học Của <%- calender.ten_lop_hp %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                            <button type="button" name="delete" data-dismiss="modal" value="<%- calender.ma_lich %>"
                                class="btn btn-primary">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal<%- calendar.ma_lich %>" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chỉnh Sửa Môn Học</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="p-2" action="/home/subject/update" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="font-weight-bold">Mã Môn Học</label>
                                    <input type="text" class="form-control" name="ma_mon_hoc"
                                        value="<%= calendar.ma_mon_hoc %>" />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Tên Lớp</label>
                                    <input type="text" class="form-control" name="ten_mon_hoc"
                                        value="<%- calendar.ten_mon_hoc %>" />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Ngày Bắt Đầu</label>
                                    <input type="date" class="form-control" name="bat_dau" value="<%- calendar %>" />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Ngày Kết Thúc</label>
                                    <input type="date" class="form-control" name="ket_thuc" value="<%- kt %>" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" value="<%- calendar.id %>" class="btn btn-success w-25"
                                    name="id">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% }); %>
        </tbody>
    </table>
</div>
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Môn Học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="p-2" method="post" action="/home/subject/add">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="font-weight-bold">Mã Môn Học</label>
                        <input type="text" class="form-control" name="ma_mon_hoc" value="" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Tên Môn Học</label>
                        <input type="text" class="form-control" name="ten_mon_hoc" value="" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Môn Học</label>
                        <select class="form-control" id="mon_hoc" name="mon_hoc"></select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Ngày Kết Thúc</label>
                        <input type="date" class="form-control" name="ket_thuc" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success w-25">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>